<%= render "shared/second-header"%>


<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      メッセージ
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">戻る</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.nickname %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
  </div>
</div>
</div>

<%= form_with model: [@golf, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>

    

<%= render "shared/second-footer"%>