<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      ゴルフ仲間を見つけよう
    </h2>
    <p class='service-explain'>
      本気で楽しくゴルフをしたいあなたが
    </p>
    <p class='service-explain'>
      ゴルフの仲間を見つけられるアプリです
    </p>
  </div>
  <%# //画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      CHOOSE
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "gol-po01.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          Place
        </h3>
        <p class='reason-list-description'>
          行きやすい、行ってみたいゴルフ場から選ぶ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "gol-po02.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          Score
        </h3>
        <p class='reason-list-description'>
          同じくらいのスコアや、レベルが上の人などから選ぶ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "gol-po03.jpg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          Time
        </h3>
        <p class='reason-list-description'>
          空いている時間から選ぶ！
        </p>
      </li>
    </ul>
  </div>
  <%# //FURIMAが選ばれる3つの理由部分 %>




  <%# 商品一覧 %>
   <div class='item-contents'>
    <h2 class='title'>募集一覧</h2>
    <%= link_to '新規募集', "golves/new", class: "subtitle" %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    <% @golf.each do |golf| %>
      <li class='list'>
        <%= link_to golf_path(golf) do %>
        <div class='item-img-content'>
          <%= image_tag golf.image, class: "item-img" %>

          <%# 商品が売れていればsold outの表示 %>
          <%# <div class='sold-out'>
            <span>Sold Out!!</span>
          </div> %>
          <%# //商品が売れていればsold outの表示 %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= golf.title %>
          </h3>
          <div class='item-price'>
            <span><%= golf.course_name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合のダミー %>
      <%# 商品がある場合は表示されないようにしましょう %>
    
      <% if (@golf.count < 1) %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
 
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合のダミー %>
    </ul>
  </div>
  <%# //商品一覧 %>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <a href="/golves/new">
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>
<%= render "shared/footer" %>