<%= render "shared/second-header"%>

<table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @golf.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">日付</th>
          <td class="detail-value"><%= @golf.play_date %></td>
        </tr>
        <tr>
          <th class="detail-item">時間</th>
          <td class="detail-value"><%= @golf.meeting_time.name %></td>
        </tr>
        <tr>
          <th class="detail-item">スコア</th>
          <td class="detail-value"><%= @golf.score %></td>
        </tr>
        <tr>
          <th class="detail-item">ゴルフをする場所</th>
          <td class="detail-value"><%= @golf.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ゴルフ場の名前</th>
          <td class="detail-value"><%= @golf.course_name %></td>
        </tr>
         <tr>
          <th class="detail-item">送迎の有無</th>
          <td class="detail-value"><%= @golf.drive.name %></td>
        </tr>
         <tr>
          <th class="detail-item">かかる予算</th>
          <td class="detail-value"><%= @golf.price %></td>
        </tr>
      </tbody>
    </table>

    

<%= render "shared/second-footer"%>